{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}ShopIQ{% endblock %}</title>
    {% include 'base/css.html' %}
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>

<body>
    <header>
        {% block header %}
        {% endblock %}
    </header>
    <main class="bg-gray-50 dark:bg-gray-900">
        {% block content %}
        {% endblock %}
    </main>
    <div>
        {% block footer %}
        {% endblock %}
    </div>
    
    {% include 'base/js.html' %}
</body>

</html>